body {
    background: url('bg.png');
    font-family: mono;
    color: #FEFEFE;
    font-size: 12px;
    line-height: 1.6em;
    padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: mono;
    text-shadow: 2px 2px 0px black;
    margin: 0px;
    padding: 0px;
    line-height: 1em;
}

p {
    margin: 0px;
    padding: 0px;
}

a:link,
a:visited,
a:active {
    color: white;
    text-decoration: none;
}

body > div {
    background: hsla(0, 0%, 0%, 0.3);
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.1) 5px, hsla(0, 0%, 100%, 0.1));    
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
    border-radius: 3px;
    border-right: 1px solid hsla(0, 0%, 0%, 1);    
    box-shadow: -1px -1px 0px hsla(0, 0%, 100%, 0.3), 1px 1px 2px black;
    display: block;
    margin: auto;
    margin-bottom: 15px;    
    max-width: 500px;
    padding: 15px;
    text-align: justify;
}

#container{
    padding: 0px;
    background: none;
}

#container .repositories a {
    display: block;
    padding: 30px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.7);
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.1) 5px, hsla(0, 0%, 100%, 0.1));    
}

#container .repositories a:last-child {
    border-bottom: none;
}

#container .repositories a p {
    margin-top: 10px;
}

.branches {
    padding: 15px;
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.1) 5px, hsla(0, 0%, 100%, 0.1));
}

.branches > ul {
    list-style: outside none none;
    padding-left: 10px;
}
